body {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 25% 25% 25% 25%;
  flex-direction: column;
  font-family: helvetica;
  background-color: cadetblue;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
}


section {
  display: none;

}

section>h1 {
  align-self: center;
  margin: 0;
  margin-top: 1em;
}

.active {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: 2;
}

nav {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
  position: fixed;
  bottom: 0;
  width: 100%;
}

nav>li {
  text-decoration: none;
  list-style-type: none;
  list-style: none;
  padding: 1em;
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: pink;
  padding: 1em;
  border: solid grey 1px;
}

a {
  text-decoration: none;
  font-weight: 600;
  align-self: center;
  width: 33%;
}
